<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hayah.hayah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".dagger.DaggerApplication"
        android:allowBackup="true"
        android:icon="@drawable/hayah"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hayah"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC2rtkfB4A81peZW8qSLVGW4lb6HW_Lvo" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.register.DonatorActivity" />
        <activity android:name=".view.search.PatientActivity" />
        <activity android:name=".view.places.PlacesActivity" />
        <activity android:name=".view.register.SuccessRegisterActivity" />
        <activity android:name=".view.DonatorLoginChoice.DonatorLoginRegisterChoiceActivity" />
        <activity
            android:name=".view.Country.countryList.country.CountryListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.Country.countryList.state.StateActivity" />
        <activity android:name=".view.Country.countryList.city.CityListActivity" />
        <activity android:name=".view.login.LoginActivity"></activity>
    </application>

</manifest>